<!DOCTYPE html>
<html lang="en">
<head>
    <title>TinyApp</title>
    <% include ./partials/_header %>
</head>
    <body>
      <ul>
      <% for (let key in urls) { %>
        <li>
          <%= key %> : <%= urls[key] %>
            <form action="/urls/<%= key %>/delete" method="POST">
            <p><button> Delete </button></p>
            <p><a href="/urls/<%= key %>/">Edit</a></p>
            </form>
        </li>
          <% } %>
      </ul>
    </body>
</html>